@page
@model ProductsModel
@{
    ViewData["Title"] = "Samzure Products";
}
<h1>@ViewData["Title"]</h1>

<p>Check out our cloud services </p>
<br/>
<ul class="list-group">
    <li class="list-group-item"><img src="/images/cloudshare.jpg" width="100"/> Cloud Share </li>
    <li class="list-group-item"><img src="/images/cloudsecurity.jpg" width="100"/> Cloud Security </li>
    <li class="list-group-item"><img src="/images/clouddev.jpg" width="100"/> Cloud Dev </li>
</ul>

